.ipynb_checkpoints/R version-checkpoint.ipynb
.ipynb_checkpoints/Exam data-checkpoint.ipynb
.ipynb_checkpoints/Exam data-checkpoint.ipynb
.ipynb_checkpoints/class_demographics-checkpoint.csv
.ipynb_checkpoints/Question data-checkpoint.ipynb
